In [1]:
print('1. 더하기 예 : 2+4 = ', 2+4)
print('2. 빼기 예 : 4-2 = ', 4-2)
print('3. 곱하기 예 : 4x2 = ', 4*2)
print('4. 나누기 예 : 4/2 = ', 4/2)
print('5. 나누기에서 몫만 출력하기 예 : 4//2 = ', 4//2)
print('6. 나누기에서 나머지만 출력하기 예 : 4%2 = ', 4%2)
print('7. 주어진 숫자의 승수값 출력하기 예 : 4**2 = ', 4**2)

1. 더하기 예 : 2+4 =  6
2. 빼기 예 : 4-2 =  2
3. 곱하기 예 : 4x2 =  8
4. 나누기 예 : 4/2 =  2.0
5. 나누기에서 몫만 출력하기 예 : 4//2 =  2
6. 나누기에서 나머지만 출력하기 예 : 4%2 =  0
7. 주어진 숫자의 승수값 출력하기 예 : 4**2 =  16

In [2]:
i = 0
i = i +2
print('i에 저장된 값은 %s 입니다' %i)

i에 저장된 값은 2 입니다

In [3]:
j = 0
j +=3
print('j에 저장된 값은 %s 입니다' %j)

j에 저장된 값은 3 입니다

In [4]:
no1 = input('첫번째 숫자 입력: ')
no2 = input('두번째 숫자 입력: ')

print('''첫번째 숫자는 %s , 두번째 숫자는 %s이며 두 숫자의 합은 %s입니다''' %(no1, no2, no1+no2))

첫번째 숫자 입력: 1
두번째 숫자 입력: 2
첫번째 숫자는 1 , 두번째 숫자는 2이며 두 숫자의 합은 12입니다

In [6]:
no1 = int(input('첫번째 숫자 입력: '))
no2 = int(input('두번째 숫자 입력: '))

print('''첫번째 숫자는 %s , 두번째 숫자는 %s이며 두 숫자의 합은 %s입니다''' %(no1, no2, no1+no2))

첫번째 숫자 입력: 1
두번째 숫자 입력: 2
첫번째 숫자는 1 , 두번째 숫자는 2이며 두 숫자의 합은 3입니다

In [7]:
print('정수형 숫자 타입:', int(1))
print('정수형 숫자 타입:', float(1))

정수형 숫자 타입: 1
정수형 숫자 타입: 1.0

In [9]:
no1 = 3.45678
no2 = 3.5678
print('원래값: %s, 반올림후 값: %s' %(no1, round(no1)))
print('원래값: %s, 반올림후 값: %s' %(no2, round(no2)))

원래값: 3.45678, 반올림후 값: 3
원래값: 3.5678, 반올림후 값: 4

In [10]:
no1 = 3
no2 = 5
print('반올림하기 전 원래값:', no2/ no1)
print('소수 첫째짜리까지 반올림하기:', round(no2/ no1,1))
print('소수 둘째짜리까지 반올림하기:', round(no2/ no1,2))

반올림하기 전 원래값: 1.6666666666666667
소수 첫째짜리까지 반올림하기: 1.7
소수 둘째짜리까지 반올림하기: 1.67

# # 숫자 타입에서 많이 사용되는 주요 함수
#b) trunc() - 버림 함수

In [11]:
import math

no1 =3
no2 = 5
print('버림하기 전 원래값: ', no2 / no1)
print('소수 첫째짜리까지 버림하기:', math.trunc(no2/no1))

버림하기 전 원래값:  1.6666666666666667
소수 첫째짜리까지 버림하기: 1

# 숫자 타입에서 많이 사용되는 주요 함수
#c) ceil() - 큰 정수 찾기 함수

In [12]:
cnt = int(input('총 몇건의 데이터를 수집할까요? :'))
# 한 페이지에 15건의 게시물이 있다고 가정
page_cnt = math.ceil(cnt/15)
print('총 %s 페이지까지 데이터를 수집해야 합니다.' %page_cnt)

총 몇건의 데이터를 수집할까요? :16
총 2 페이지까지 데이터를 수집해야 합니다.

# 숫자 타입에서 많이 사용되는 주요 함수
#d) floor() - 작은 정수 찾기 함수

In [13]:
import math

no1 = 4.9
no2 = 4.1

print('%s 보다 작으면서 가장 가까운 정수는 %s 입니다.' % (no1, math.floor(no1)))
print('%s 보다 작으면서 가장 가까운 정수는 %s 입니다.' % (no2, math.floor(no2)))

4.9 보다 작으면서 가장 가까운 정수는 4 입니다.
4.1 보다 작으면서 가장 가까운 정수는 4 입니다.

In [14]:
str1 = '파이썬완전쉽죠'
print(str1)
print(str1[0])
print(str1[1])

파이썬완전쉽죠
파
이

In [15]:
str1 = '파이썬완전쉽죠'
print(str1)
print(str1[0:4])

파이썬완전쉽죠
파이썬완

In [17]:
str1 = '파이썬완전쉽죠'
print(str1[3:])
print(str1[:3])

완전쉽죠
파이썬

In [18]:
str2 = 'PyThoN'
print(str2.lower())
print(str2.upper())

python
PYTHON

In [19]:
str3 = "    <- 이쪽 끝에 공백 있었어요"
str4 = "오른쪽 끝에 공백 있었어요->    "
str5 = "   <- 양쪽 끝에 공백 있었어요 ->   "

print(str3.lstrip( ))
print(str3.rstrip( ))
print(str5.strip( ))

<- 이쪽 끝에 공백 있었어요
    <- 이쪽 끝에 공백 있었어요
<- 양쪽 끝에 공백 있었어요 ->

In [21]:
str6 = '새우깡도 해산물 인가요?'
print(str6.replace('새우깡','새우'))

새우도 해산물 인가요?

In [22]:
tel = '02-1234-5678'
print(tel.split('-'))
print(tel.split('-',1))

['02', '1234', '5678']
['02', '1234-5678']

In [23]:
str1 = '파이썬 완전 좋아요'
str2 = ['파이썬','웹크롤러','가치랩스']

print(len(str1))
print(len(str2))

10
3

In [24]:
print('='*80)
print('문자열로 연산하기 실습')
print('+'*80)

================================================================================
문자열로 연산하기 실습
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [25]:
list1 = ['1982-07-15','홍길동',30]
print(list1)

['1982-07-15', '홍길동', 30]

In [26]:
list2 = ['첫째','둘째','셋째']
list2.append('append로 추가한 것')
list2.insert(2, 'insert로 추가한 것')
print(list2)

['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']

In [28]:
print('삭제전목록', list2)
del list2[2]
print('del 로 삭제 후 목록:', list2)

list2.remove('append로 추가한 것')
print('remove로 삭제 후 목록:', list2)

삭제전목록 ['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']
del 로 삭제 후 목록: ['첫째', '둘째', '셋째', 'append로 추가한 것']
remove로 삭제 후 목록: ['첫째', '둘째', '셋째']

In [29]:
list3 = [3,1,5,8,2]
list3.sort()
print('오름차순(기본)정렬후',list3)

list3.reverse()
print('내림차순 정렬후:', list3)

list4 = ['banana', 'apple','cherry','Apple']
list4.sort()
print('영어 정렬:', list4)

list5 = ['홍길동','전우치','김유신','이순신']
list5.sort()
print('한글정렬: ', list5)

오름차순(기본)정렬후 [1, 2, 3, 5, 8]
내림차순 정렬후: [8, 5, 3, 2, 1]
영어 정렬: ['Apple', 'apple', 'banana', 'cherry']
한글정렬:  ['김유신', '이순신', '전우치', '홍길동']