In [1]:
import sqlite3
import pandas as pd

# DB 연결
conn = sqlite3.connect('./output/sample.db')

# SQL 쿼리를 이용하여 데이터프레임으로 저장
sql = 'SELECT * from User'
df = pd.read_sql_query(sql, conn, index_col = 'id')
print(df, '\n')

# 행 추가
df.loc[3] = ('Adam', 'M', 30)
print(df)

# DB에 변경사항 저장
# if_exists 옵션에 replace값을 지정하면 기존 테이블을 대체한다는 의미
df.to_sql('User', conn, if_exists='replace')

# DB 연결 종료
conn.close()

     name sex  age
id
1   James   M   25
2   Wendy   F   22

     name sex  age
id
1   James   M   25
2   Wendy   F   22
3    Adam   M   30