In [1]:
import sqlite3
import pandas as pd

# DB 연결
conn = sqlite3.connect('./output/sample.db')

# 데이터 프레임을 이용하여 테이블 정의
df = pd.DataFrame(
            [[1, 'James', 'M', 25],
             [2, 'Wendy', 'F', 22 ]],
            columns = ['id', 'name', 'sex', 'age']
            )

print(df, '\n')

ndf = df.set_index('id')
print(df)

# DB에 변경사항 저장
# 데이터 프레임 객체 (ndf)에 to_sql() 메소드를 적용하면 데이터베이스의 테이블로 변환
ndf.to_sql('User', conn)

# DB 연결 종료
conn.close()

   id   name sex  age
0   1  James   M   25
1   2  Wendy   F   22

   id   name sex  age
0   1  James   M   25
1   2  Wendy   F   22