In [2]:
import sqlite3
import pandas as pd

# DB연결
conn = sqlite3.connect('./output/sample.db')

# SQL 쿼리를 이용하여 데이터프레임으로 저장
sql = 'SELECT * from Product limit 3'
# 판다스의read_sql_query() 함수에 앞에서 작성한 sql 쿼리 구문과 데이터 베이스 연결 객체를 입력
df = pd.read_sql_query(sql, conn)
print(df)

# DB 종료
conn.close()

   id title  price            link
0   2  제품 2   5000  /product2.html
1   3  제품 3   3000  /product3.html
2   4  제품 4   2000  /product4.html