In [4]:
yo_price = 1800
yo_qty = 4
milk_price = 1500
milk_qty = 2

yo_sales = yo_price*yo_qty
milk_sales = milk_price*milk_qty

total_sales = yo_sales + milk_sales
total_qty = yo_qty + milk_qty

print('드링킹 요쿠르트 매출액 : ', str(yo_sales))
print('우유 매출액 : ', str(milk_sales))
print('-' * 20)
print('총매출액: ', str(total_sales))
print('총판매량: ', str(total_qty))

드링킹 요쿠르트 매출액 :  7200
우유 매출액 :  3000
--------------------
총매출액:  10200
총판매량:  6

In [5]:
yo_price = 1800
yo_qty = 4
milk_price = 1500
milk_qty = 2
hr_price = 1000
hr_qty = 3

yo_sales = yo_price*yo_qty
milk_sales = milk_price*milk_qty
hr_sales = hr_price * hr_qty

total_sales = yo_sales + milk_sales + hr_sales
total_qty = yo_qty + milk_qty + hr_qty

print('드링킹 요쿠르트 매출액 : ', str(yo_sales))
print('우유 매출액 : ', str(milk_sales))
print('홈런공 매출액 : ', str(hr_sales))
print('-' * 20)
print('총매출액: ', str(total_sales))
print('총판매량: ', str(total_qty))

드링킹 요쿠르트 매출액 :  7200
우유 매출액 :  3000
홈런공 매출액 :  3000
--------------------
총매출액:  13200
총판매량:  9

In [6]:
yo_qty_1 = [15,16,20,29]
yo_qty_2 = [8,11,25,21]
yo_qty_3 = [17,9,17,24]

print('요구르트 1월 판매량 합계: ', str(sum(yo_qty_1)))
print('요구르트 2월 판매량 합계: ', str(sum(yo_qty_2)))
print('요구르트 3월 판매량 합계: ', str(sum(yo_qty_3)))

요구르트 1월 판매량 합계:  80
요구르트 2월 판매량 합계:  65
요구르트 3월 판매량 합계:  67

In [8]:
yo_qty_1 = [15,16,20,29]
yo_qty_2 = [8,11,25,21]
yo_qty_3 = [17,9,17,24]
yo_qty_4 = [19,29,29,4]
yo_qty_5 = [5,20,18,12]
yo_qty_6 = [21,7,27,14]


print('요구르트 1월 판매량 합계: ', str(sum(yo_qty_1)))
print('요구르트 2월 판매량 합계: ', str(sum(yo_qty_2)))
print('요구르트 3월 판매량 합계: ', str(sum(yo_qty_3)))
print('요구르트 4월 판매량 합계: ', str(sum(yo_qty_4)))
print('요구르트 5월 판매량 합계: ', str(sum(yo_qty_5)))
print('요구르트 6월 판매량 합계: ', str(sum(yo_qty_6)))

요구르트 1월 판매량 합계:  80
요구르트 2월 판매량 합계:  65
요구르트 3월 판매량 합계:  67
요구르트 4월 판매량 합계:  81
요구르트 5월 판매량 합계:  55
요구르트 6월 판매량 합계:  69