## 2-1

### 4번

In [4]:
print("Hello, World!")
print("Sun is shining.")

Hello, World!
Sun is shining.

### 5번

In [6]:
print('"혼공프"로 시작하는 프로그래밍!')
print('\'혼공프\'로 시작하는 프로그래밍!')
print("'혼공프'로 시작하는 프로그래밍!")
print("\"혼공프\"로 시작하는 프로그래밍!")
print('Sun, \nMoon, \nSky')

"혼공프"로 시작하는 프로그래밍!
'혼공프'로 시작하는 프로그래밍!
'혼공프'로 시작하는 프로그래밍!
"혼공프"로 시작하는 프로그래밍!
Sun,
Moon,
Sky

## 2-2

### 2번

In [9]:
print('"3" + "+" + "2" "=" + "5"')
print("=" * 10)
print('5' + '분' + " " + "23"  + "초")

"3" + "+" + "2" "=" + "5"
==========
5분 23초

### 3번

In [13]:
print('0123456789'[3])
print('0123456789'[3:3])
print('0123456789'[2:3])

3

2

### 4번

In [16]:
print('혼자 공부하는 프로그래밍')
print(len('혼자 공부하는 프로그래밍'))
print('혼자 공부하는 프로그래밍'[:2])
print('혼자 공부하는 프로그래밍'[3:7])
print('혼자 공부하는 프로그래밍'[8:])

혼자 공부하는 프로그래밍
13
혼자
공부하는
프로그래밍

In [18]:
### 5번
print('C Major Scale')
print('-' * len('C Major Scale'))

print(
    'ABCDEFG'[2]
   + 'ABCDEFG'[3]
   + 'ABCDEFG'[4]
   + 'ABCDEFG'[5]
   + 'ABCDEFG'[6]
   + 'ABCDEFG'[0]
   + 'ABCDEFG'[1]

)

C Major Scale
-------------
CDEFGAB

## 2-3

### 2번

In [19]:
print('숫자 데이터(정수) 확인 문제')
print('=' * 5 + '=')
print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3**2)
print(323//60) # 몫
print(323%60) # 나머지

숫자 데이터(정수) 확인 문제
======
5
1
6
1.5
9
5
23

### 3번

In [20]:
print('숫자 데이터(부동 소수점) 확인 문제')
print('=' * 5 + '=')
print(323.0 + 60)
print(323.0 - 60)
print(323.0 + 60)
print(323.0 / 60)
print(323.0 ** 60)
print(323.0 // 60) # 몫
print(323.0 % 60) # 나머지

숫자 데이터(부동 소수점) 확인 문제
======
383.0
263.0
383.0
5.383333333333334
3.5657536863853114e+150
5.0
23.0

### 4번

In [22]:
print('연산자 우선순위 확인 문제')
print('=*' *5 + '=')
print(23 + 323 // 60 * 100)
print(23 + (323 // 60 * 100))
print((23 + 323) // 60 * 100)

연산자 우선순위 확인 문제
=*=*=*=*=*=
523
523
500

## 2-4

### 2번

In [23]:
hello = 'Hello'
world = 'World'
print(hello + ', ' + world)

Hello, World

### 3번

In [24]:
euotient = 323 // 60 # 몫
remainder = 323 % 60 # 나머지
print(euotient)
print(remainder)

5
23

### 4번

In [25]:
data = '안녕하세요'
print(data)
data = '만나서 반가워요'
data = '나한빛입니다'
print(data)

안녕하세요
나한빛입니다

## 3-2

### 1번

In [26]:
print(True == True)
print('True' == True)
print(323 // 6 == 5)
print('abc' > 'Abc')

True
False
False
True

### 2번

In [29]:
print('시작')
if True:
    print('예!')
else:
    print('아니요!')
print('끝')

시작
예!
끝

### 3번

In [33]:
hobby = '운동'

print('시작!')
if hobby == '독서':
    print('취미가 독서이군요!')
elif hobby == '운동' :
    print('취미로 운동을 하는군요!')
elif hobby == '요리' :
    print('요리 전문가를 꿈꾸시나요!')
else:
    print(hobby + '? 흥미로운 취미로군요!')
    
print('끝!')

시작!
취미로 운동을 하는군요!
끝!

## 4-1

### 2번

In [34]:
lang_set = ['파이썬', 'C언어', '자바', '자바스크립트']
lang_eng_set = ['Python', 'C', 'Java', 'Javascript']

### 3번

In [35]:
menu_set = ['안심구이', '등심구이', '육개장', '물냉면']
price_set = [39000, 35000, 9000, 8000]

## 4-2

### 1번

In [44]:
grade = ['1학년','2학년','3학년']
subjects = ['국어', '수학', '코딩', '영어', '체육']
scores = [[85, 60, 95],
          [90, 70, 95, 80],
          [95, 75, 100, 85, 100]
         ]

print(grade)
print(subjects)
print(scores)

['1학년', '2학년', '3학년']
['국어', '수학', '코딩', '영어', '체육']
[[85, 60, 95], [90, 70, 95, 80], [95, 75, 100, 85, 100]]

### 2번

In [45]:
scores = [
    {'1학년' : [85, 60, 95]},
    {'2학년' : [90, 70, 95, 80]},
    {'3학년' : [95, 75, 100, 85, 100]}
         ]
print(scores)

[{'1학년': [85, 60, 95]}, {'2학년': [90, 70, 95, 80]}, {'3학년': [95, 75, 100, 85, 100]}]

In [39]:
scores = [
    {'1학년' : { '국어': 85, '수학': 60, '코딩': 95 }},
    {'2학년' : { '국어': 90, '수학': 70, '코딩': 95, '영어*': 80}},
    {'3학년' : { '국어': 95, '수학': 75, '코딩': 100, '영어': 85, '체육*': 100}}
         ]
print(scores)

[{'1학년': {'국어': 85, '수학': 60, '코딩': 95}}, {'2학년': {'국어': 90, '수학': 70, '코딩': 95, '영여*': 80}}, {'3학년': {'국어': 95, '수학': 75, '코딩': 100, '영여': 85, '체육*': 100}}]

In [46]:
scores = [
    {'국어' : { '1학년': 85, '2학년': 90, '3학년': 95 }},
    {'수학' : { '1학년': 60, '2학년': 70, '3학년': 85 }},
    {'영어' : { '2학년': 80, '3학년': 85}},
    {'코딩' : { '1학년': 95, '2학년': 95, '3학년': 100 }},
    {'체육' : { '3학년': 100}}
     
]
print(scores)

[{'국어': {'1학년': 85, '2학년': 90, '3학년': 95}}, {'수학': {'1학년': 60, '2학년': 70, '3학년': 85}}, {'영어': {'2학년': 80, '3학년': 85}}, {'코딩': {'1학년': 95, '2학년': 95, '3학년': 100}}, {'체육': {'3학년': 100}}]

### 3번

In [50]:
names = ['삼송전자', '헤이닉스']
prices = [
    [50800, 49950, 48900, 47300, 45600, 48100],
    [82800, 82500, 80600, 80400, 73100, 83100]
]

In [51]:
names = ['삼송전자', '헤이닉스']
prices = [
    [50800, 82800],
    [49950, 82500],
    [47300, 80600],
    [45600, 73100],
    [48100, 83100]
]

In [52]:
prices = [
    {'삼송전자' :  [50800, 49950, 48900, 47300, 45600, 48100]},
    {'헤이닉스' :  [82800, 82500, 80600, 80400, 73100, 83100]}
]

In [53]:
prices = [
    {'삼송전자' :  { '2일자' : 50800, '3일자' : 49950, '4일자' : 48900, '5일자' : 47300, '6일자': 45600, '9일자' : 48100}},
    {'헤이닉스' :  { '2일자' : 82800, '3일자' : 82500, '4일자' : 80600, '5일자' : 80400, '6일자': 73100, '9일자' : 83100}}
]

In [54]:
prices = [
    {'2일자' : {'삼송전자' : 50800, '헤이닉스' : 82800}},
    {'3일자' : {'삼송전자' : 49950, '헤이닉스' : 82500}},
    {'4일자' : {'삼송전자' : 48900, '헤이닉스' : 80600}},
    {'5일자' : {'삼송전자' : 47300, '헤이닉스' : 80400}},
    {'6일자' : {'삼송전자' : 45600, '헤이닉스' : 73100}},
    {'9일자' : {'삼송전자' : 48100, '헤이닉스' : 83100}},
    
]

### 3번

In [55]:
names = ['김치찌개', '떡볶이']
receipe = [
    ['돼지고기', '김치', '마늘', '대파', '청양고추'],
    ['떡', '설탕', '고추장', '간장', '고춧가루', '대파', '어묵']
]

In [56]:
receipe = {
    '김치찌개' :['돼지고기', '김치', '마늘', '대파', '청양고추'],
    '떡볶이' :  ['떡', '설탕', '고추장', '간장', '고춧가루', '대파', '어묵']
}

### 4번

In [59]:
items ={
    '성명(한글)' : '나한빛',
    '성명(영어)' : 'Na Hanbit',
    '주소' : '서울시 서대문구',
    '취미 및 특기' : {'취미': '독서', '특기' : '글쓰기'},
    '저서' : {
        '혼공 시리즈' : ['혼공프로', '혼공파', '혼공씨', '혼공자바'],
        '이것이 시리즈' : ['이것이 데이터 분석이다 with 파이썬', '이것이 C언어다', '이것이 자바다']
    }
}

## 5-1

### 1번

In [60]:
count = 5
while count >= 0:
    print(str(count) + '!')
    count = count - 1

5!
4!
3!
2!
1!
0!

### 2번

In [61]:
count = [5,4,3,2,1]
for x in count:
    print(str(x) + '!')

5!
4!
3!
2!
1!

### 3번

In [62]:
count = range(10)
for n in count:
    if (n+1) % 3 == 0:
        print('짝!')
    else:
        print(n+1)

1
2
짝!
4
5
짝!
7
8
짝!
10

### 4번

In [64]:
words = ['혼자', '공부하는', '첫', '프로그래밍', '!']
for x in words:
    if x == '첫':
        print('첫 프로그래밍!')
        break #전체 코드 중단
    else:
        print(x)

혼자
공부하는
첫 프로그래밍!

### 5번

In [66]:
count = range(20)
for x in count:
    if ((x+1) % 10 != 0): # %는 나머지 구함 , 
        continue # 나머지가 0이 아닌 경우 코드를 계속 진행하다는 의미
    else:
        print(str(x+1) + '!') # 나머지가 0인 경우는 출력하라는 의미

10!
20!

## 5-2

### 1번

In [67]:
coffee = '플랫화이트'
for x in coffee:
    print(x)

플
랫
화
이
트

### 2번

In [69]:
count = [1,2,3,4,5,6,7,8,9,10]

for x in count:
    if x % 2== 0:
        print(x)

2
4
6
8
10

### 3번

In [70]:
five = range(5)
for x in five:
    print((x+1)*3)

3
6
9
12
15

### 4번

In [74]:
order = ['아메리카노', '플랙 화이트', '화이트 초코 모카']
price = [3100, 4100, 4600]
for x in range(3):
    print(order[x] + ' : ' + str(price[x]))

아메리카노 : 3100
플랙 화이트 : 4100
화이트 초코 모카 : 4600

### 5번

In [75]:
scores = [990, 120]
print(scores[0])
print(scores[1])

scores = {'TOEIC':990, 'TOFLE iBT' : 120}
print(scores['TOEIC'])
print(scores['TOFLE iBT'])

990
120
990
120

### 6번

In [76]:
order = ['아메리카노', '플랫 화이트', '화이트 초코 모카']
price = {
    '아메리카노' : 3100,
    '플랫 화이트' : 4100,
    '화이트 초코 모카' : 4600
}

for x in order:
    print(x + ' : ' + str(price[x]))

아메리카노 : 3100
플랫 화이트 : 4100
화이트 초코 모카 : 4600

### 7번

In [77]:
numbers = [[1,2,3], [4,5,6]]

for row in numbers:
    total = 0 
    for x in row:
        total = total + x
    print(total)

6
15

### 8번

In [79]:
menu = {
    '오늘의 커피' : 2800,
    '아메리카노' : 3100,
    '카푸치노' : 3600,
    '화이트 초콜릿 모카' : 4600,
    '플랫 화이트' : 4100
}

my_order = {
    '플랫 화이트' : 2,
    '화이트 초콜릿 모카' : 1
}

for x in my_order:
    price = menu[x]
    qty = my_order[x]
    total = price * qty
    print(x + ' ' + str(qty) + ' 잔, 합계 : ' + str(total))

플랫 화이트 2 잔, 합계 : 8200
화이트 초콜릿 모카 1 잔, 합계 : 4600

## 6-1

### 1번

In [80]:
def add(first, second):
    return first + second


print(add(3,2))

5

### 2번

In [81]:
def no_return():
    pass

def no_return_value():
    return

print(no_return())
print(no_return_value())

None
None

### 3번

In [82]:
def print_elements(arg):
    for x in arg:
        print(x)
        
print_elements(['Sun', 'is', 'rising'])

Sun
is
rising

### 4번

In [83]:
def power(base, exp):
    return base ** exp

print(power(3,2))
print(power(10, -2))

9
0.01

### 5번

In [84]:
def square(dataset):
    result = []
    for x in dataset:
        result.append(x*x)
    return result

print(square([3, 2, 5]))
print(square([323, 60]))

[9, 4, 25]
[104329, 3600]

### 6번

In [86]:
def dict_to_list(dataset):
    result = []
    for x in dataset:
        result.append([x, dataset[x]])
    return result

data = {'my_key' : 'my_value', 'your_key' : 'your_value'}
print(dict_to_list(data))

[['my_key', 'my_value'], ['your_key', 'your_value']]

### 7번

In [88]:
def count_down(number):
    
    result = []
    
    for x in range(number):
    
        result.append(number- x)
    
    return result

print(count_down(10))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 6-2

### 1번

In [89]:
def is_odd(arg):
    if arg % 2 == 1:
        return True
    
    return False

print(is_odd(3))
print(is_odd(2))

True
False

### 2번

In [90]:
def get_sum_of_two_numbers(start, end):
    result = 0
    for x in range(start, end+1):
        result = result +1
    return result

print(get_sum_of_two_numbers(1,10))
print(get_sum_of_two_numbers(1,100))

10
100

### 3번

In [91]:
def print_hashes(rows):
    for x in range(rows):
        print('#' * (x+1))
        
print(print_hashes(3))

#
##
###
None

### 4번

In [95]:
def print_reserve_hashes(rows):
    for x in range(rows):
        count = x + 1
        print(' ' * (rows - count) +'#' * count)
        
print_reserve_hashes(4)

   #
  ##
 ###
####

### 5번

In [96]:
def replace_digits(str_):
    return str_[:9] + '****'

print(replace_digits('010-1234-5678'))
print(replace_digits('010-9876-5432'))

010-1234-****
010-9876-****