### 60번 사용자 입력받기(input)

In [2]:
k = input('<값>을 입력하세요:  ')
print('당신이 입력한 값은 < ' + k  + '> 입니다.')

<값>을 입력하세요:  32
당신이 입력한 값은 < 32> 입니다.

### 61번 자료형 확인하기

In [4]:
numdata = 57
strdata = '파이썬'
listdata = [1, 2, 3]
dictdata = {'a' : 1, 'b' : 2}

def func():
    print('안녕하세요')
    
print(type(numdata))
print(type(strdata))
print(type(listdata))
print(type(dictdata))
print(type(func))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'function'>

### 62번 나눗셈에서 나머지만 구하기 (%)

In [5]:
a = 11113
b = 23

ret = a%b
print('<%d>를 <%d>로 나누면 <%d>가 나머지로 남습니다' %(a, b, ret))

<11113>를 <23>로 나누면 <4>가 나머지로 남습니다

### 63번 몫과 나머지 구하기

In [7]:
a = 11113
b = 23
ret1, ret2 = divmod(a, b)
print('<%d / %d>는 몫이 <%d>, 나머지가 <%d>입니다' % (a, b, ret1, ret2))

<11113 / 23>는 몫이 <483>, 나머지가 <4>입니다

### 64번 10진수를 16진수로 변환하기(hex)

In [8]:
h1 = hex(97)
h2 = hex(98)
ret1 = h1 + h2
print(ret1)

a = int(h1, 16)
a = int(h2, 16)
ret2 = a + b
print(hex(ret2))

0x610x62
0x79

### 65번 10진수를 2진수로 변환하기 (bin)

In [10]:
b1 = bin(97)
b2 = bin(98)
ret1 = b1 + b2
print(ret1)

a = int(b1, 2)
b = int(b2, 2)
ret2 = a + b
print(bin(ret2))

0b11000010b1100010
0b11000011

### 66번 2진수, 16진수를 10진수로 변환하기(int)

In [13]:
bnum = 0b11110000; bstr = '0b11110000'
onum = 0o360; ostr = '0o360'
hnum = 0xf0; hstr = '0xf0'
b1 = int(bnum); b2 = int(bstr, 2)
o1 = int(onum); o2 = int(ostr, 8)
h1 = int(hnum); h2 = int(hstr, 16)
print(b1); print(b2)
print(o1); print(o2)
print(h1); print(h2)

240
240
240
240
240
240

### 67번 절대값 구하기

In [15]:
abs1 = abs(-3)
abs2 = abs(-5.72)
abs3 = abs(3+4j)
print(abs1)
print(abs2)
print(abs3)

3
5.72
5.0

### 68번 반올림수 구하기

In [16]:
ret1 = round(1118) # 소수점 첫째자리에서 반올림해줌
ret2 = round(16.554) # 소수점 첫째자리에서 반올림해줌
ret3 = round(1118, -1) # 1자리에서 반올림해줌
ret4 = round(16.554, 2) # 소수점 셋째지리에서 반올림해줌

print(ret1)
print(ret2)
print(ret3)
print(ret4)

1118
17
1120
16.55

### 69번 실수형 자료를 정수형 자료로 변환하기

In [18]:
idata1 = int(-5.4)
idata2 = int(1.78e1)
idata3 = int(171.56)

print(idata1)
print(idata2)
print(idata3)

-5
17
171

### 70번 정수형 자료를 실수형 자료로 변환하기

In [19]:
fdata = float(10)
print(fdata)

10.0

### 71번 정수리스트에서 소수만 걸러내기 (filter)

#### 파이썬 내장함수 filter()
: 리스트와 같이 반복 가능한 자료에서 특정 조건을 만족하는 값만을 편리하게 추출할 수 있는 방법을 제공  
: filter()의 첫번째 인자는 특정 조건의 값을 추출하는 함수가 입력되며, 두 번째 인자는 리스트와 같은 반복 가능한 자료가 입력됨

In [21]:
# 인자로 입력된 x의 값이 소수인지 체크하는 소수일 경우에만 값을 리턴

def getPrime(x):
    for i in range(2, x-1):
        if x%i == 0: # %는 나머지 구함
            break
    else:
        return x
    
listdata = [117, 119, 1113, 11113, 11119]
ret = filter(getPrime, listdata)
print(list(ret))

[11113, 11119]

### 72번 최대값, 최소값 구하기 (max, min)

In [22]:
listdata = [9, 96, 1.27, 5.07, 6.45, 8.38, 9.29, 4.93, 7.73, 3.71, 0.93]
maxval = max(listdata)
minval = min(listdata)
print(maxval)
print(minval)

txt = 'Alotofthingsoccureachday'
maxval = max(txt)
minval = min(txt)
print(maxval)
print(minval)

maxval = max(2+3, 2*3, 2**3, 3**2)
minval = min('abz', 'a12')
print(maxval)
print(minval)

96
0.93
y
A
9
a12

### 73번 1바이트에서 하위 4비트 추출하기

컴퓨터는 모든데이터와 연산을 내부적으로 비트로 표현되는 데이터로 처리  
비트는 0과 1로 표현되는 2진수로 나타낼 수 있으며, 8비트를 1바이트로 부름.  
1바이트는 일반적으로 컴퓨터가 처리하는 데이터의 최소 단위임

In [23]:
a = 107
b = a *+ 0x0f
print(hex(b))

0x645

### 74번 1바이트에서 상위 4비트 추출하기

In [24]:
a = 107
b = (a >>4) & 0x0f
print(b)

6

### 75번 문자열에서 특정 위치의 문자얻기

In [25]:
txt1 = 'A tale that was nnot right'
txt2 = '이 또한 지나가리라'

print(txt1[5])
print(txt2[-2])

e
리

### 76번 문자열에서 지정한 구간의 문자열 얻기

In [26]:
txt1 = 'A tale that was nnot right'
txt2 = '이 또한 지나가리라'

print(txt1[3:7])
print(txt1[:6])
print(txt2[-4:])

ale
A tale
나가리라

### 77번 문자열에서 홀수 번째 문자만 추출하기

In [27]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2] # 짝수번째 문자만 추출하기
print(ret)

abcdefghijk

### 78번 문자열을 거꾸로 만들기

- > #### [::-1]
처음부터 끝까지 스템 -1로 슬라이싱, 이는 거꾸로 된 문자열을 얻는 매우 쉬운 방식
- > #### [::-2]
주어진 문자열에서 거꾸로 된 순서로 홀수번째 문자만 추출
- > #### [-2::-2]
주어진 문자열의 거꾸로 된 순서로 짝수번째 문자만 추출하여 문자열을 만들기

In [29]:
txt = 'abcdefghijk'
ret = txt[::-1]
print(ret)

kjihgfedcba

In [28]:
txt = 'abcdefghijk'
ret = ''
for i in range(len(txt)):
    ret += txt[-(i+1)]
    

print(ret)

kjihgfedcba

### 79번 두 개의 문자열 합치기(+)

In [30]:
filename = input('저장할 파일 이름을 입력하세요: ')
filename = filename + '.jpg'
display_msg = '당신이 저장한 파일은 <' + filename + '> 입니다'
print(display_msg)

저장할 파일 이름을 입력하세요: 소희
당신이 저장한 파일은 <소희.jpg> 입니다

### 80번 문자열을 반복해서 새로운 문자열로 만들기 (*)

In [32]:
msg1 = '여러분'
msg2 = '파이팅!'
display_msg = msg1 + ', ' + msg2*3 + '~!'
print(display_msg)

여러분, 파이팅!파이팅!파이팅!~!

### 81번 문자열에서 특정 문자가 있는지 확인하기 (in)

In [34]:
msg = input('임의의 문장을 입력하세요:   ')
if 'a' in msg:
    print('당신이 입력한 문장에는 a가 있습니다.')
else:
    print('당신이 입력한 문장에는 a가 없습니다')

임의의 문장을 입력하세요:   123asf
당신이 입력한 문장에는 a가 있습니다.

### 82번 문자열에서 특정 문자가 있는지 확인하기 (in)

In [35]:
msg = input('임의의 문장을 입력하세요:   ')
if 'is' in msg:
    print('당신이 입력한 문장에는 is가 있습니다.')
else:
    print('당신이 입력한 문장에는 is가 없습니다')

임의의 문장을 입력하세요:   isnkf
당신이 입력한 문장에는 is가 있습니다.

### 83번 문자열 길이 구하기(len)

In [36]:
msg = input('임의의 문장을 입력하세요:  ')
msglen = len(msg)

print('당신이 입력한 문장의 길이는 <%d> 입니다' %msglen)

임의의 문장을 입력하세요:  빈센조
당신이 입력한 문장의 길이는 <3> 입니다

### 84번 문자열이 알파벳인지 검사하기 (isalpha)

#### isalpha()
주어진 문자열이 사람의 언어 문자로만 구성되어 있는지 확인해줌  
문자열의 모든 요소가 사람의 언어 문자로만 구성되어 있으면 True  
아니면 False를 반환

In [37]:
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = 'P30'

ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()

print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
False

### 85번 문자열이 숫자인지 검사하기 (isdigit)

#### isdigit  
문자열을 구성하는 요소가 모두 숫자인지 체크   
숫자만 포함 되어 있으면 True  
아니면 False를 반환

In [38]:
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()

print(ret1)
print(ret2)
print(ret3)

False
False
True

### 86번 문자열이 알파벳 또는 숫자인지 검사하기 (isalnum)

#### isalnum
문자열을 구성하는 요소가 모두 언어 문자 또는 숫자인지 체크  
문자 또는 숫자로 구성되어 있으면 True  
아니면 False

In [39]:
txt1 = '안녕하세요'
txt2 = '1, Title - 제목을 넣으세요'
txt3= '3피오R2D2'

ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()

print(ret1)
print(ret2)
print(ret3)

True
False
True

### 87번

upper() 모든 알파벳을 대문자로 변환   
lower() 모든 알파벳을 소문자로 변환

In [40]:
txt = 'A lot of Thing occur each day'
ret1 = txt.upper()
ret2 = txt.lower()

print(ret1)
print(ret2)

A LOT OF THING OCCUR EACH DAY
a lot of thing occur each day

### 88번 문자열에서 좌우 공백 제거하기

lstrip : 왼쪽 공백이 제거하는 메소드 
rstrip : 오른쪽공백이 제거하는 메소드 
strip : 좌우 공백 제거하는 메소드

In [42]:
txt = '    양쪽에 공백이 있는 문자열입니다.    '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()

print('<' + txt + '>')
print('<' + ret1 + '>')
print('<' + ret2 + '>')
print('<' + ret3 + '>')

<    양쪽에 공백이 있는 문자열입니다.    >
<양쪽에 공백이 있는 문자열입니다.    >
<    양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

### 89번 문자열을 수치형 자료로 변환하기

In [44]:
numstr = input('숫자를 입력하세요:  ')
try:
    num = int(numstr)
    print('당신이 입력한 숫자는 정수 <%d>입니다' %num)
except:
    try:
        num = float(numstr)
        print('당신이 입력한 숫자는 실수 <%f>입니다' %num)
    
    except:
        print('+++ 숫자를 입력하세요 ~ +++')

숫자를 입력하세요:  '123456789'
+++ 숫자를 입력하세요 ~ +++

### 90번 수치형 자료를 문자열로 변환하기

In [45]:
num1 = 1234
num2 = 3.14

numstr1 = str(num1)
numstr2 = str(num2)
print('num1을 문자열로 변환한 값은 "%s" 입니다' %numstr1)
print('num2을 문자열로 변환한 값은 "%s" 입니다' %numstr2)

num1을 문자열로 변환한 값은 "1234" 입니다
num2을 문자열로 변환한 값은 "3.14" 입니다

### 91번 문자열에 있는 문자(열) 개수 구하기 (count)

In [46]:
txt = 'A lot of things occur each day, every day.'

word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')

print(word_count1)
print(word_count2)
print(word_count3)

3
2
8

### 92번 문자열에서 특정 문자(열) 위치 찾기(find)

#### find()
문자열에서 특정 문자나 문자열이 위치하는 인덱스를 리턴   
find()에는 찾고자 하는 문자 또는 문자만을 입력하면 해당 문자나 문자열이 최초로 나타나는 우치에 대한 인덱스를 리턴

In [47]:
txt = 'A lot of things occur each day, every day.'

offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day', 30)

print(offset1)
print(offset2)
print(offset3)

22
27
38

### 93번 문자열을 특정 문자(열)로 분리하기 (split)

In [51]:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)

ret2 = log.split()
for data in ret2:
    d1, d2 = data.split(':')
    print('%s -> %s' %(d1, d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선

### 94번 문자열을 특정 문자(열)로 결합하기 (join)

#### join
split과는 반대로 문자열이 요소인 리스트를 인자로 받아 리스트 모든 요소를 특정 문자열로 연결하여 새로운 문자열로 만들어 리턴

In [53]:
loglist = ['2016/08/26 10:12:11', '200', 'Ok', '이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)
print(type(log))

2016/08/26 10:12:11;200;Ok;이 또한 지나가리라
<class 'str'>

### 95번 문자열에서 특정 문자(열)를 다른 문자(열)로 바꾸기 replace

In [55]:
txt = 'My password is 1234'
ret1 = txt.replace('1', '0')
ret2 = txt.replace('1', 'python')
print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일', '항상')
ret4 = txt.replace('일', '사건')
print(ret3)
print(ret4)

My password is 0234
My password is python234
항상 많은 일들이 일어납니다.
매사건 많은 사건들이 사건어납니다.

### 96번 문자열을 바이트 객체로 바꾸기 encode

In [56]:
u_txt = 'I love python'
b_txt = u_txt.encode()
print(u_txt)
print(b_txt)

ret1 = 'I' == u_txt[0]
ret2 = 'I' == b_txt[0]
print(ret1)
print(ret2)

I love python
b'I love python'
True
False

### 97번 바이트 객체를 문자열로 바꾸기 decode

In [57]:
b_txt = b'A lot of things occur each day.'
u_txt = b_txt.decode()
print(u_txt)

A lot of things occur each day.

### 98번 문자열을 정렬하기 sorted, join

In [59]:
strdata = input('정렬한 문자열을 입력하세요: ')
ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse = True)
print(ret1)
print(ret2)

ret1 = ''.join(ret1)
ret2 = ''.join(ret2)
print('오름차순으로 정렬된 문자열은 <' + ret1 + '> 입니다')
print('내름차순으로 정렬된 문자열은 <' + ret2 + '> 입니다')

정렬한 문자열을 입력하세요: abcdefg
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['g', 'f', 'e', 'd', 'c', 'b', 'a']
오름차순으로 정렬된 문자열은 <abcdefg> 입니다
내름차순으로 정렬된 문자열은 <gfedcba> 입니다

### 99번 순차적인 정수 리스트 만들기 range

In [60]:
range1 = range(10)
range2 = range(10, 20)

print(list(range1))
print(list(range2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### 100번 리스트에서 특정 위치의 요소 얻기

In [62]:
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]


print(val1)
print(val2)
print(val3)

2
b
5

### 101번 리스트에서 특정 요소의 위치 구하기 (index)

#### 리스트 객체의 index() 메소드
리스트에서 요소의 값을 알고 있을 때, 그 요소가 최초로 나타나는 위치의 인덱스를 리턴

In [63]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']

planet = '지구'
pos = solarsys.index(planet)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다' %(planet, pos))

# 인덱스가 5 이상인 요소부터 검색하여 planet과 동일한 요소가 등장하는 인덱스를 리턴
pos = solarsys.index(planet, 5)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다' %(planet, pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다
지구은(는) 태양계에서 9번째에 위치하고 있습니다

### 102번 리스트에서 특정 위치의 요소를 변경하기

In [64]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
planet = '화성'

pos = solarsys.index(planet)
solarsys[pos] = 'Mars'
print(solarsys)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성']

### 103번 리스트에서 특정 구간에 있는 요소 추출하기

In [66]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
rock_planets = solarsys[1:4]
gas_planets = solarsys[4:]

print('태양계의 암석형 행성: ', end = '') ; print(rock_planets)
print('태양계의 가스형 행성: ', end = '') ; print(gas_planets)

태양계의 암석형 행성: ['수성', '금성', '지구']
태양계의 가스형 행성: ['화성', '목성', '토성', '천왕성', '해왕성']

### 104번 리스트에서 짝수 번째 요소만 추출하기

In [67]:
listdata = list(range(1, 21))
evenlist = listdata[1::2]
print(evenlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 105번 리스트 요소 순서를 역순으로 만들기 reverse

In [68]:
listdata = list(range(5))
listdata.reverse()
print(listdata)

[4, 3, 2, 1, 0]

### 106번 리스트 요소 순서를 역순으로 만들기 resersed

In [70]:
listdata = list(range(5))
ret1 = reversed(listdata)

print('원본 리스트: ', end = ''); print(listdata)
print('역순 리스트: ', end = ''); print(list(ret1))

ret2 = listdata[::-1]
print('슬라이싱 이용: ', end = ''); print(ret2)

원본 리스트: [0, 1, 2, 3, 4]
역순 리스트: [4, 3, 2, 1, 0]
슬라이싱 이용: [4, 3, 2, 1, 0]

### 107번 리스트 합치기 (+)

In [71]:
listdata1 = ['a', 'b', 'c', 'd', 'e']
listdata2 = ['f', 'g', 'h', 'i', 'j']
listdata3 = listdata1 + listdata2
listdata4 = listdata2 + listdata1

print(listdata3)
print(listdata4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

### 108번 리스트 반복하기 (*)

In [72]:
listdata = list(range(3))
ret = listdata*3
print(ret)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

### 109번 리스트에 요소 추가하기

In [78]:
listdatas = []
for i in range(3):
    txt = input('리스트에 추가할 값을 입력하세요 [%d/3]' %(i+1))
    listdatas.append(txt)
    print(listdatas)

리스트에 추가할 값을 입력하세요 [1/3]12
['12']
리스트에 추가할 값을 입력하세요 [2/3]14
['12', '14']
리스트에 추가할 값을 입력하세요 [3/3]18
['12', '14', '18']

### 110번 리스트의 특정 위치에 요소 삽입하기 insert

In [79]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
pos = solarsys.index('목성') # 목성의 인덱스를 구하기 = 5
solarsys.insert(pos, '소행성')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

### 111번 리스트의 특정 위치의 요소 제거하기 del

In [80]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[0]
print(solarsys)

del solarsys[-2]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

### 112번 리스트에서 특정 요소 제거하기 remove

#### remove
리스트에서 특정 요소의 값을 알고 있을 때 그 요소를 제거

In [81]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys.remove('태양')
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

### 113번 리스트에서 특정 구간에 있는 모든 요소 제거하기

In [83]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[1:3]
print(solarsys)

['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

### 114번 리스트에 있는 요소 개수 구하기 (len)

In [85]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
listsize = len(listdata)
print(listsize)

15

### 115번 리스트에서 특정 요소 개수 구하기 count

리스트 객체의 count() 메소드는 리스트에 존재하는 특정 요소의 개수를 리턴

In [86]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
c1 = listdata.count(2)
c2 = listdata.count(7)
print(c1)
print(c2)

3
1

### 116번 리스트 제거하기 del

#### del
리스트 자체를 메모리에서 제거하기

In [88]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
del listdata
print(listdata)

NameError: name 'listdata' is not defined

### 117번 리스트 요소 정렬하기 sort

#### sort  
모든 요소를 오름차순으로 정렬   
내림차순으로 정렬하려면 .sort(reverse = True)

In [89]:
namelist = ['Mary', 'Sams', 'Aemy', 'Tom', 'Michale', 'Bob', 'Kelly']
namelist.sort()
print(namelist)

['Aemy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

### 118번 f리스트 요소 정렬하기 sorted

In [90]:
namelist = ['Mary', 'Sams', 'Aemy', 'Tom', 'Michale', 'Bob', 'Kelly']
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse =True)
print(namelist)
print(ret1)
print(ret2)

['Mary', 'Sams', 'Aemy', 'Tom', 'Michale', 'Bob', 'Kelly']
['Aemy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aemy']

### 119번 리스트 요소 무작위로 섞기

#### shuffle
리스트의 요소를 무작위로 섞기

In [91]:
from random import shuffle

listdata = list(range(1, 11))
for i in range(3):
    shuffle(listdata)
    print(listdata)

[4, 3, 9, 5, 2, 1, 8, 7, 6, 10]
[4, 2, 1, 7, 9, 10, 6, 3, 8, 5]
[5, 10, 1, 2, 9, 8, 6, 7, 3, 4]

### 120번 리스트의 모든 요소를 인덱스와 쌍으로 추출하기 enumerate

### enumerate 
: 시퀀스 자료형을 인자로 받아 각 요소를 인덱스와 함께 쌍으로 추출할 수 있는 반복 하능한 자료인 enumerate 객체를 리턴  
: enumerate 객체는 for문과 함께 자주 사용되지만 list()를 이용해 리스트 객체로 변환할 수 있음

In [93]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys))
print(ret)

for i, body in enumerate(solarsys):
    print('태양계의 %d번째 천체: %s' %(i, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

### 121번 리스트의 모든 요소의 합 구하기 sum

In [94]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret = sum(listdata)
print(ret)

65

### 122번 리스트 요소가 모두 참인지 확인하기 all, any

#### all, any
리스트의 모든 요소가 차민지 또는 모든 요소가 거짓인지 판단
- > all()은 인자로 입력되는 리스트의 모든 요소가 참인 경우에만 True를 반환
- > any()은 인자로 입력되는 리스트으 모든 요소가 거짓인 경우메만 False를 리턴하고 참이 하니라도 존재하면 True를 리턴

거짓인 값
- 숫자 0, 빈 문자열 '',"", 빈 리스트[], 빈 튜플(), 빈 사전{}, None

In [95]:
listdata1 = [0, 1, 2, 3, 4]
listdata2 = [True, True, True]
listdata3 = ['', [], (), {}, None, False]

print(all(listdata1)) #  0은 거짓이므로, all은 하나라도 거짓이면 False
print(any(listdata1)) # any은 하나라도 참이면 참이니까 True
print(all(listdata2))
print(any(listdata2))
print(all(listdata3))
print(any(listdata3))

False
True
True
True
False
False

### 123번 사전에 요소 추가하기

#### dict[k2] = val2

In [97]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

solardict = {}
for i, k in enumerate(solar1):
    val = solar2[i]
    solardict[k] = val
    
    
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

### 124번 사전이 특정 요소값 변경하기

In [98]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
names['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

### 125번 사전의 특정 요소 제거하기 del

#### del dict[k]

In [99]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
del names['Sams']
print(names)

{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

### 126번 사전의 모든 요소 제거하기 clear

In [100]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
names.clear()
print(names)

{}

### 127번 사전에서 키만 추출하기 keys

#### 사전에서 키값 추출하기
key_lsit = list(names.keys())

In [101]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

ks = names.keys()
print(ks)

for k in ks:
    print('Key: %s \tValue: %d' %(k, names[k]))

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])
Key: Mary 	Value: 10999
Key: Sams 	Value: 2111
Key: Aimy 	Value: 9778
Key: Tom 	Value: 20245
Key: Michale 	Value: 27115
Key: Bob 	Value: 5887
Key: Kelly 	Value: 7855

### 128번 사전에서 값만 추출하기

names.values()

In [102]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
vals = names.values()
print(vals)

val_list = list(vals)
ret = sum(val_list)

print('출생아수 총계: %d' %ret)

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아수 총계: 83990

### 129번 사전 요소를 모두 추출하기 items

In [104]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

items = names.items()
print(items)

for item in items:
    print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

### 130번 사전에 특정 키가 존재하는지 확인하기 in

In [105]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

k = input('이름을 입력하세요: ')

if k in names:
    print('이름이 <%s>인 출생아수는 <%d>명 입니다' %(k, names[k]))
else:
    print('이름이 <%s>인 이름이 존재하지 않습니다' %(k))

이름을 입력하세요: sams
이름이 <sams>인 이름이 존재하지 않습니다

### 131번 사전 정렬하기

sorted()에 key 인자를 추가하면 사전을 다양한 형태로 정렬할 수 있음

In [106]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# names의 키를 오름차순으로 정렬하여 리스트로 리턴
ret1 = sorted(names)
print(ret1)

def f1(x):
    return x[0]

def f2(x):
    return x[1]

# sorted(names.items(), key = f1)
# names.items()의 모든 요소에 대해 key로 지정된 함수 f1의 인자로 입력하고, f1이 리턴하는 값을 기준으로 오름차순으로 정렬한 결과를 리스트로 리턴
ret2 = sorted(names.items(), key = f1)
print(ret2) # 이름을 오름차순으로 정렬

ret3 = sorted(names.items(), key = f2)
print(ret3) # 값을 오름차순으로 정렬 

ret4 = sorted(names.items(), key = f2, reverse = True)
print(ret4) # 값을 내림차순으로 정렬

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]

### 132번 문자 코드값 구하기 ord

In [107]:
ch = input('문자를 1개 입력하세요: ')
if len(ch) != 0:
    ch = ch[0]
    chv = ord(ch)
    print('문자: %s \t 코드값: %d [%s]' % (ch, chv, hex(chv)))

문자를 1개 입력하세요: bravo
문자: b 	 코드값: 98 [0x62]

### 133번 코드값에 대응하는 문자 얻기 chr

In [109]:
val = input('문자 코드값을 입력하세요: ')
val = int(val)

try:
    ch = chr(val)
    print('코드값: %d [%s], 문자: %s' %(val, hex(val), ch))
    
except ValueError:
    print('입력한 <%d>에 대한 문자가 존재하지 않습니다.' %val)

문자 코드값을 입력하세요: 1
코드값: 1 [0x1], 문자: 

### 134번 문자열로 된 식을 실행하기 eval

#### eval
파이썬 코드로 실행 가능한 문자열을 인자로 받아 실행하는 함수

In [111]:
expr1 = '2+3'
expr2 = 'round(3.7)'

ret1 = eval(expr1)
ret2 = eval(expr2)

print('<%s>를 eval()로 실행한결과: ' %expr1, end = ' '); print(ret1)
print('<%s>를 eval()로 실행한결과: ' %expr2, end = ' '); print(ret2)

<2+3>를 eval()로 실행한결과:  5
<round(3.7)>를 eval()로 실행한결과:  4

### 135번 이름없는 한줄짜리 함수 만들기 lambda

#### lambda 인자, 인자... : 실행코드

In [112]:
add = lambda x, y: x + y
ret = add(1, 3)
print(ret)

funcs = [lambda x: x + '.pptx', lambda x: x + '.docx']
ret1 = funcs[0]('intro')
ret2 = funcs[1]('Report')

print(ret1)
print(ret2)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115,
          'Bob':5887, 'Kelly':7855}

# names의 키를 기준으로 오름차순으로 정렬
ret3 = sorted(names.items(), key=lambda x: x[0])
print(ret3)

4
intro.pptx
Report.docx
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

### 136번 인자를 바꾸어 함수를 반복 호출하여 결과값 얻기 map

map(f, args)는 args의 모든 요소를 f에 대입하여 결과를 얻은 후 map 객체로 리턴  
map 객체는 list()를 이용래 리스트로 변환할 수 있음

In [113]:
f = lambda x : x * x
args = [1, 2, 3, 4, 5]
ret = map(f, args)
print(list(ret))

[1, 4, 9, 16, 25]